@charset "utf-8";
body,html{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  position: fixed;
  top: 10px;
  z-index: 1;
  width: 100%;
  left: -4px;
}
header h1{
  text-align: center;
  font-size: 50px;
}
.left{
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 1;
}
.left a{
  font-size: 20px;
}
.right{
  position: fixed;
  right: 30px;
  top: 15px;
  margin: 0 10px;
  z-index: 1;
}
.right a{
  margin: 0 20px;
  font-size: 20px;
}
